@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  background-image: -webkit-gradient(linear, right top, left bottom, from(#051937), color-stop(#111e3e), color-stop(#1c2345), color-stop(#26284b), color-stop(#302d52), color-stop(#2a355e), color-stop(#1e3d69), color-stop(#004673), color-stop(#005376), color-stop(#005c62), color-stop(#00613b), to(#266200));
  background-image: linear-gradient(to left bottom, #051937, #111e3e, #1c2345, #26284b, #302d52, #2a355e, #1e3d69, #004673, #005376, #005c62, #00613b, #266200);
  height: 100vh;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: fixed;
  padding: 30px 0;
}

header nav .logo {
  font-size: 24px;
  font-weight: 400;
  color: white;
  padding: 12px 52px 18px 52px;
}

header nav .logo a {
  text-decoration: none;
  color: white;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  list-style-type: none;
}

header nav ul li {
  padding: 0 18px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 300;
  cursor: pointer;
}

header .main_heading {
  height: 100%;
  width: 100%;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  top: 35%;
  left: 0%;
}

header .main_heading .me {
  color: white;
  padding: 0 0 25px 0;
  font-size: 32px;
  font-weight: 400;
}

header .main_heading .me .b {
  font-weight: 600;
}

header .main_heading .me_sub {
  color: white;
  font-weight: 400;
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
}

header .main_heading .hot_links {
  width: 65%;
  height: 2em;
  margin: 12px auto 0 auto;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .main_heading .hot_links .holder {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: white;
  padding: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .main_heading .hot_links .holder a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .main_heading .hot_links .holder img {
  width: 70%;
  height: 70%;
}

header .main_heading .hot_links .holder img:hover {
  cursor: pointer;
}

header .main_heading .hot_links .holder .bigger {
  width: 80%;
  height: 80%;
  border-radius: 30%;
}

header .main_heading .hot_links .holder .bigger:hover {
  cursor: pointer;
}

header .main_heading .hot_links .holder .bigger2 {
  width: 83%;
  height: 83%;
  border-radius: 30%;
  margin-top: 5%;
}

header .main_heading .hot_links .holder .bigger2:hover {
  cursor: pointer;
}

header .main_heading .arrow_down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  margin: 65px auto 0 auto;
  -webkit-animation: up_and_down 2s infinite;
          animation: up_and_down 2s infinite;
}

@-webkit-keyframes up_and_down {
  0%,
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

@keyframes up_and_down {
  0%,
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

main .about {
  text-align: center;
  padding: 2em 2em 1.5em 2em;
  margin: 0 auto;
}

main .about h1 {
  padding: 1em 0;
  font-size: 30px;
}

main .about .about_container .info {
  padding: 0 0 1em 0;
}

main .about .about_container .info .icon_logo {
  height: 50px;
  width: 50px;
  margin: 1em auto;
}

main .about .about_container .info .icon_logo img {
  height: 100%;
  width: 100%;
}

main .about .about_container .info .education {
  padding: 0.1em 1rem 0.5em 1rem;
}

main .about .about_container .info .education h3 {
  padding: 0.4em 0;
}

main .projects {
  text-align: center;
  padding: 2em 2em;
  margin: 0 auto;
  background-color: #182436;
  color: white;
}

main .projects .go {
  height: 200px;
}

main .projects .go h3 {
  padding: 3.5rem 0 1.5rem 0;
}

main .projects .go .to_git {
  color: white;
}

main .projects h1 {
  padding: 0.1em 0 1em 0;
  font-size: 30px;
}

main .projects .projects_container .project {
  width: 250px;
  margin: 0 auto;
  padding: 2rem 0;
}

main .projects .projects_container .project .project_description .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

main .projects .projects_container .project .project_description .title .mini_git {
  height: 35px;
  width: 35px;
  background-color: white;
  border-radius: 50%;
}

main .projects .projects_container .project .project_description .title .mini_git a {
  height: 35px;
  width: 35px;
  background-color: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .projects .projects_container .project .project_description .title .mini_git a img {
  height: 80%;
  width: 80%;
}

main .projects .projects_container .project .project_description .title h2 {
  font-weight: 400;
}

main .projects .projects_container .project .project_description p {
  font-weight: 300;
}

main .projects .projects_container .project .project_description .tech {
  padding: 0.6rem 0;
  font-weight: 200;
  font-size: 15px;
  word-spacing: 3px;
}

main .photos {
  text-align: center;
  padding: 2em 2em;
  margin: 0 auto;
}

main .photos h1 {
  padding: 0.1em 0 1em 0;
  font-size: 30px;
}

main .photos .photos_container {
  width: 100%;
}

main .photos .photos_container .photo {
  height: 340px;
  width: 100%;
  margin: 0 auto;
  padding: 1.3rem 0;
}

main .photos .photos_container .photo img {
  height: 100%;
  width: 100%;
}

main .photos .photos_container .photo-rotate {
  height: 340px;
  width: 100%;
  margin: 0 auto;
  padding: 1.3rem 0;
}

main .photos .photos_container .photo-rotate img {
  height: 100%;
  width: 100%;
}

main .contact {
  text-align: center;
  padding: 2em 2em;
  margin: 0 auto;
  background-color: #182436;
  color: white;
}

main .contact h1 {
  padding: 0.1em 0 1em 0;
  font-size: 30px;
}

main .contact h3 {
  padding: 1.5em 0 0.5em 0;
  text-decoration: underline;
}

main .contact h4 {
  padding: 0.3rem 0;
}

/*Iphone 5/5S*/
@media only screen and (max-width: 370px) {
  header nav ul li {
    padding: 0 10px;
    font-size: 14px;
  }
  header .main_heading .me {
    font-size: 26px;
  }
  header .main_heading .hot_links {
    padding: 20px 0;
    width: 80%;
  }
}

@media only screen and (min-width: 630px) {
  header .main_heading {
    top: 35%;
    width: 70%;
    margin: 0 auto;
  }
  header .main_heading .me {
    font-size: 42px;
  }
  header .main_heading .hot_links {
    width: 55%;
  }
  .photos {
    width: 65%;
  }
  .photos .photos_container {
    width: 80%;
  }
  .photos .photos_container .photo {
    height: 300px;
    width: 90%;
    margin: 0 auto;
    padding: 1.3rem 0;
  }
  .photos .photos_container .photo img {
    height: 70%;
    width: 70%;
  }
  .photos .photos_container .photo-rotate {
    height: 300px;
    width: 100%;
    margin: 0 auto;
    padding: 1.3rem 0;
  }
  .photos .photos_container .photo-rotate img {
    height: 70%;
    width: 70%;
  }
}

@media only screen and (min-width: 824px) {
  header nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header nav .logo {
    padding: 12px 0 18px 2px;
  }
  header nav ul li a {
    cursor: pointer;
  }
  header .main_heading {
    top: 35%;
    width: 65%;
    margin: 0 auto;
  }
  header .main_heading .me {
    font-size: 42px;
  }
  header .main_heading .hot_links {
    width: 40%;
  }
  main .about {
    text-align: center;
    padding: 5.5em 2em 0.1em 2em;
    margin: 0 auto;
    height: 100vh;
  }
  main .about h1 {
    padding: 1em 0;
    font-size: 40px;
  }
  main .about .about_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    padding: 2em 0 0 0;
  }
  main .about .about_container .info {
    padding: 0 0 1em 0;
  }
  main .about .about_container .info .icon_logo {
    height: 50px;
    width: 50px;
    margin: 1em auto;
  }
  main .about .about_container .info .icon_logo img {
    height: 100%;
    width: 100%;
  }
  main .about .about_container .info .education {
    padding: 0.1em 1rem 0.5em 1rem;
  }
  main .about .about_container .info .education h3 {
    padding: 0.4em 0;
  }
  main .projects {
    text-align: center;
    padding: 7.5em 2em;
    margin: 0 auto;
    background-color: #182436;
    color: white;
    height: 100vh;
  }
  main .projects .go {
    height: 200px;
  }
  main .projects .go h3 {
    padding: 3.5rem 0 1.5rem 0;
  }
  main .projects .go .to_git {
    color: white;
  }
  main .projects h1 {
    padding: 0.3em 0 1em 0;
    font-size: 40px;
  }
  main .projects .projects_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    padding-top: 1.5em;
  }
  main .projects .projects_container .project {
    width: 240px;
    margin: 0 auto;
    padding: 2rem 0.4em;
  }
  main .projects .projects_container .project .project_description .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 0;
  }
  main .projects .projects_container .project .project_description .title .mini_git {
    height: 35px;
    width: 35px;
    background-color: white;
    border-radius: 50%;
    margin-left: 5px;
  }
  main .projects .projects_container .project .project_description .title .mini_git a {
    height: 35px;
    width: 35px;
    background-color: white;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .projects .projects_container .project .project_description .title .mini_git a img {
    height: 80%;
    width: 80%;
  }
  main .projects .projects_container .project .project_description .title h2 {
    font-weight: 400;
  }
  main .projects .projects_container .project .project_description p {
    font-weight: 300;
  }
  main .projects .projects_container .project .project_description .tech {
    padding: 0.6rem 0;
    font-weight: 200;
    font-size: 15px;
    word-spacing: 3px;
  }
  main .photos {
    width: 93%;
  }
  main .photos h1 {
    font-size: 40px;
  }
  main .photos .photos_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.2rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    padding-bottom: 30px;
  }
  main .photos .photos_container .photo {
    height: 300px;
    width: 100%;
    margin: 0 auto;
    padding: 1.3rem 0;
    font-size: 42px;
  }
  main .photos .photos_container .photo img {
    height: 100%;
    width: 100%;
  }
  main .photos .photos_container .photo-rotate {
    height: 300px;
    width: 100%;
    margin: 0 auto;
    padding: 1.3rem 0;
  }
  main .photos .photos_container .photo-rotate img {
    height: 100%;
    width: 100%;
  }
  main .contact h1 {
    font-size: 40px;
  }
}
/*# sourceMappingURL=index.css.map */