@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
html{
  scroll-behavior: smooth;
}
header {
  background-image: linear-gradient(
    to left bottom,
    #051937,
    #111e3e,
    #1c2345,
    #26284b,
    #302d52,
    #2a355e,
    #1e3d69,
    #004673,
    #005376,
    #005c62,
    #00613b,
    #266200
  );
  height: 100vh;
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: fixed;
    padding: 30px 0;

    .logo {
      font-size: 24px;
      font-weight: 400;
      color: white;
      a{
        text-decoration: none;
        color:white;

      }
      padding: 12px 52px 18px 52px;
    }

    ul {
      display: flex;
      width: 35%;
      justify-content: space-around;
      color: white;
      list-style-type: none;

      li {
        padding: 0 18px;
        a {
          color: white;
          text-decoration: none;
          font-weight: 300;
          cursor: pointer;
        }
      }
    }
  }
  .main_heading {
    height: 100%;
    width: 100%;
    text-align: center;
    align-self: center;
    position: relative;
    top: 35%;
    left: 0%;

    .me {
      color: white;
      padding: 0 0 25px 0;
      font-size: 32px;
      font-weight: 400;

      .b {
        font-weight: 600;
      }
    }
    .me_sub {
      color: white;
      font-weight: 400;
      font-size: 20px;
      width: 80%;
      margin: 0 auto;
    }
    .hot_links {
      width: 65%;
      height: 2em;
      margin: 12px auto 0 auto;
      padding: 20px 0;
      display: flex;
      align-self: center;
      justify-content: space-around;
      .holder {
        height: 55px;
        width: 55px;
        border-radius: 50%;
        background-color: white;
        padding: 1px;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        img {
          width: 70%;
          height: 70%;
          &:hover {
            cursor: pointer;
          }
        }
        .bigger {
          width: 80%;
          height: 80%;
          border-radius: 30%;
          &:hover {
            cursor: pointer;
          }
        }
        .bigger2 {
          width: 83%;
          height: 83%;
          border-radius: 30%;
          margin-top: 5%;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .arrow_down {
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #fff;
      margin: 65px auto 0 auto;
      animation: up_and_down 2s infinite;
    }
  }
}

@keyframes up_and_down {
  0%,
  100% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(50%);
  }
}

main {
  .about {
    text-align: center;
    padding: 2em 2em 1.5em 2em;
    margin: 0 auto;

    h1 {
      padding: 1em 0;
      font-size: 30px;
    }
    .about_container {
      .info {
        padding: 0 0 1em 0;
        .icon_logo {
          height: 50px;
          width: 50px;
          margin: 1em auto;
          img {
            height: 100%;
            width: 100%;
          }
        }
        .education {
          padding: 0.1em 1rem 0.5em 1rem;
          h3 {
            padding: 0.4em 0;
          }
        }
      }
    }
  }
  .projects {
    text-align: center;
    padding: 2em 2em;
    margin: 0 auto;
    background-color: #182436;
    color: white;
    .go {
      height: 200px;
      h3 {
        padding: 3.5rem 0 1.5rem 0;
      }
      .to_git {
        color: white;
      }
    }

    h1 {
      padding: 0.1em 0 1em 0;
      font-size: 30px;
    }

    .projects_container {
      .project {
        width: 250px;
        margin: 0 auto;
        padding: 2rem 0;
        .project_description {
          .title {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 1rem 0;

            .mini_git {
              height: 35px;
              width: 35px;
              background-color: white;
              border-radius: 50%;
              a {
                height: 35px;
                width: 35px;
                background-color: white;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                  height: 80%;
                  width: 80%;
                }
              }
            }
            h2 {
              font-weight: 400;
            }
          }
          p {
            font-weight: 300;
          }
          .tech {
            padding: 0.6rem 0;
            font-weight: 200;
            font-size: 15px;
            word-spacing: 3px;
          }
        }
      }
    }
  }
  .photos {
    text-align: center;
    padding: 2em 2em;
    margin: 0 auto;

    h1 {
      padding: 0.1em 0 1em 0;
      font-size: 30px;
    }

    .photos_container {
      width: 100%;
      .photo {
        height: 340px;
        width: 100%;
        margin: 0 auto;
        padding: 1.3rem 0;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .photo-rotate {
        height: 340px;
        width: 100%;
        margin: 0 auto;
        padding: 1.3rem 0;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  .contact {
    text-align: center;
    padding: 2em 2em;
    margin: 0 auto;
    background-color: #182436;
    color: white;
    h1 {
      padding: 0.1em 0 1em 0;
      font-size: 30px;
    }
    h3 {
      padding: 1.5em 0 0.5em 0;
      text-decoration: underline;
    }
    h4 {
      padding: 0.3rem 0;
    }
  }
}

/*Iphone 5/5S*/

@media only screen and (max-width: 370px) {
  header {
    nav {
      ul {
        li {
          padding: 0 10px;
          font-size: 14px;
        }
      }
    }

    .main_heading {
      .me {
        font-size: 26px;
      }
      .hot_links {
        padding: 20px 0;
        width: 80%;
      }
    }
  }
}

@media only screen and (min-width: 630px) {
  header {
    .main_heading {
      top: 35%;
      width: 70%;
      margin: 0 auto;

      .me {
        font-size: 42px;
      }

      .hot_links {
        width: 55%;
      }
    }
  }
  .photos {
    width: 65%;
    .photos_container {
      width: 80%;
      .photo {
        height: 300px;
        width: 90%;
        margin: 0 auto;
        padding: 1.3rem 0;
        img {
          height: 70%;
          width: 70%;
        }
      }
      .photo-rotate {
        height: 300px;
        width: 100%;
        margin: 0 auto;
        padding: 1.3rem 0;
        img {
          height: 70%;
          width: 70%;
        }
      }
    }
  }
}

@media only screen and (min-width: 824px) {
  header {
    nav {
      flex-direction: row;
      justify-content: space-around;
      .logo {
        padding: 12px 0 18px 2px;
      }
      ul{
        li{
          a{
            cursor: pointer;
          }
        }
      }
    }

    .main_heading {
      top: 35%;
      width: 65%;
      margin: 0 auto;

      .me {
        font-size: 42px;
      }

      .hot_links {
        width: 40%;
      }
    }
  }
  main {
    
    

    .about {
      text-align: center;
      padding: 5.5em 2em 0.1em 2em;
      margin: -5% 2%;
      height: 100vh;

      h1 {
        padding: 1.5em 0;
        font-size: 40px;
      }
      .about_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 2em 0 0 0;
        .info {
          padding: 0 0 1em 0;
          .icon_logo {
            height: 50px;
            width: 50px;
            margin: 1em auto;
            img {
              height: 100%;
              width: 100%;
            }
          }
          .education {
            padding: 0.1em 1rem 0.5em 1rem;
            h3 {
              padding: 0.4em 0;
            }
          }
        }
      }
    }

    .projects {
      text-align: center;
      padding: 7.5em 2em;
      margin: 0 auto;
      background-color: #182436;
      color: white;
      height:100vh;
      .go {
        height: 200px;
        h3 {
          padding: 3.5rem 0 1.5rem 0;
        }
        .to_git {
          color: white;
        }
      }

      h1 {
        padding: 0.3em 0 1em 0;
        font-size: 40px;
      }

      .projects_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top:1.5em;

        .project {
          width: 240px;
          margin: 0 auto;
          padding: 2rem 0.4em;
          .project_description {
            .title {
              display: flex;
              justify-content: space-around;
              align-items: center;
              padding: 1rem 0;

              .mini_git {
                height: 35px;
                width: 35px;
                background-color: white;
                border-radius: 50%;
                margin-left:5px;
                a {
                  height: 35px;
                  width: 35px;
                  background-color: white;
                  border-radius: 50%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  img {
                    height: 80%;
                    width: 80%;
                  }
                }
              }
              h2 {
                font-weight: 400;
              }
            }
            p {
              font-weight: 300;
            }
            .tech {
              padding: 0.6rem 0;
              font-weight: 200;
              font-size: 15px;
              word-spacing: 3px;
            }
          }
        }
      }
    }
    .photos {
      width: 93%;
      h1{
        font-size: 40px;
      }
      
      .photos_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1.2rem;
        justify-content: space-around;
        width: 100%;
        padding-bottom: 30px;
        
  
        .photo {
          height: 300px;
          width: 100%;
          margin: 0 auto;
          padding: 1.3rem 0;
          font-size: 42px;
  
          img {
            height: 100%;
            width: 100%;
          }
        }
        .photo-rotate {
          height: 300px;
          width: 100%;
          margin: 0 auto;
          padding: 1.3rem 0;
          img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
    .contact{
      h1{
        font-size: 40px;
      }
    }
  }


  
}

